@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS file or a <style> tag within your component */
/* In your CSS file */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
  }
  
  .main-area {
    flex: 1;
    overflow-y: auto;
  }
  
  .footer {
    background-color: #1f2937; /* bg-gray-800 */
    color: #ffffff; /* text-white */
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  